---
title: <%= title %>
layout: <%= layout %>
description: This Examples shows how the default layout markup with its class-name-structure looks like.
---
<div class="b-page">
    <div class="inner">
        <header class="b-page-header" role="banner">
            <!-- Header Content -->
        </header>
        
        <main class="b-page-main" role="main">
            <!-- Main Content -->
        </main>
        
        <aside class="b-page-aside" role="complementary">
            <!-- Aside Content -->
        </aside>
        
        <footer class="b-page-footer" role="contentinfo">
            <!-- Footer Content -->
        </footer>
    </div>
</div>

