---
title: Example – Layout Fullpage
layout: lyt-default.hbs
description: This Examples shows how the fullpage layout markup with its class-name-structure looks like.
---
<div class="b-page">
	<header class="b-page-header" role="banner">
		<div class="inner">
			<!-- Header Content -->
		</div>
	</header>
	
	<main class="b-page-main" role="main">
		<div class="inner">
			<!-- Main Content -->
		</div>
	</main>
	
	<aside class="b-page-aside" role="complementary">
		<div class="inner">
			<!-- Aside Content -->
		</div>
	</aside>
	
	<footer class="b-page-footer" role="contentinfo">
		<div class="inner">
			<!-- Footer Content -->
		</div>
	</footer>
</div>
